.btn-circle.btn-xl {
    width: 35px;
    height: 35px;
    padding: 3px 12px;
    border-radius: 35px;
    font-size: 20px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-check:checked + .btn-success {
  box-shadow: 0 0 0 0.2rem  rgba(25, 135, 84, 0.5);
}
.btn-check:checked + .btn-danger {
 box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);

}
.btn-check:checked + .btn-warning {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

