<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <title>Students List</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/c326dfdc36.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-database.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static '/js/firebaseConfig.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/date.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/index.css' %}"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">              
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">    
                    <li>
                        <a href="{% url 'index' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                           data-bs-placement="right" data-bs-original-title="Students">
                            <i class="fas fa-users fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'attendance' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                   data-bs-placement="right" data-bs-original-title="Attendance" onclick="redirectToAttendance()">
                            <i class="fas fa-calendar-alt fa-lg"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-sm p-3 min-vh-100">
            <!-- content -->

            <div class="container">
                <h2>Attendance Monitoring System</h2>

                <div class="row mb-5">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="search-input" placeholder="Search by Last Name">
                    </div>
                    <div class="col-sm-2">
                        <div class="d-flex flex-column">
                            <button class="btn btn-secondary mb-2" id="sort-button">Sort by Last Name</button>
                            <button class="btn btn-secondary" id="sort-buttonid">Sort by ID</button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="add-student-btn">Add New Student</button>
                <table class="table table-striped" id="students-table">
                    <thead>
                    <tr>
                        <th >ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Section</th>
                        <th>Year</th>
                        <th>Course</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                    <tr>
                        <td class="id">{{ student.id }}</td>
                        <td class="fname">{{ student.fname }}</td>
                        <td class="lname">{{ student.lname }}</td>
                        <td class="section"{{ student.section}}></td>
                        <td class="year">{{ student.year }}</td>
                        <td class="course">{{ student.course }}</td>
                        <td>
                            <a href="#" class="edit-student btn btn-success" data-key="{{ student.key }}"
                            data-bs-toggle="modal" data-bs-target="#update-student-modal">
                            <i class="fas fa-edit"></i>
                         </a>

                         <a class="btn btn-danger" href='deletestudent/{{ student.id }}'>
                            <i class="fas fa-trash-alt"></i>
                         </a>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add New Student</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="add-student">
                                    <div class="form-group row">
                                        <label for="id">Id</label>
                                        <input type="number" class="form-control" name="id" id="id" required>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fname">FirstName</label>
                                        <input type="text" class="form-control" name="fname" id="fname" required>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname">Last Name</label>
                                        <input type="text" class="form-control" name="lname" id="lname" required>
                                    </div>
                                    <div class="form-group row">
                                        <label for="year">Year</label>
                                        <input type="number" class="form-control" name="year" id="year" required>
                                    </div>
                                    <div class="form-group row">
                                        <label for="course">Course</label>
                                        <input type="text" class="form-control" name="course" id="course" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="update-student-modal" tabindex="-1" aria-labelledby="update-student-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <form id="update-student-form">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="update-student-modal-label">Update Student</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="update-id" class="form-label">Id</label>
                                        <input type="number" class="form-control" name="id" id="update-id" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="update-fname" class="form-label">First Name</label>
                                        <input type="text" class="form-control" name="fname" id="update-fname" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="update-lname" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" name="lname" id="update-lname" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="update-year" class="form-label">Year</label>
                                        <input type="number" class="form-control" name="year" id="update-year" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="update-course" class="form-label">Course</label>
                                        <input type="text" class="form-control" name="course" id="update-course" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <input type="hidden" id="update-student-key">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>


</body>

</html>
